<!doctype html>
<head>
<title> Random Health Facts! </title>
    <link rel="icon" type="img/ico" href="/static/fav.ico">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>

</head>
<body>
<h1>{{ fact }}</h1>
<img src="/static/{{ imgsrc  }}" class="images">
<div class="center">
<a href="random">Randomize your fact!</a>
</div>
<h3 id="share">Share this fact: http://127.0.0.1:5000/{{ post }}</h3>
<div class="center">
    <h4 class="push"> </h4>
    <a href="/">Go to Homepage</a>
</div>
</body>
</html>